# Google Apps Script Web App Deployment URL
APPS_SCRIPT_GATEWAY_URL=https://script.google.com/macros/s/AKfycbxuAV49xcKSzJHeiyRZ96LEj_qwLLP_omiJu5XTXbCo-xdRg0G7KhE9SNZI_y28r21ftw/exec

# Internal HMAC-SHA256 signing secret for dynamic 15-second QR tokens
QR_HMAC_SECRET=dev-secret-key-prm393-attendance

# Google Identity Services (Client ID for Student Google Sign-in)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
