# ========================================================
# PRM393 ATTENDANCE SYSTEM - ENVIRONMENT TEMPLATE
# ========================================================

# 1. Google Apps Script Web App Gateway URL (Database Google Sheets)
APPS_SCRIPT_GATEWAY_URL=https://script.google.com/macros/s/AKfycbxuAV49xcKSzJHeiyRZ96LEj_qwLLP_omiJu5XTXbCo-xdRg0G7KhE9SNZI_y28r21ftw/exec

# 2. Link file Google Sheet trên Google Drive (Xem kết quả điểm danh Realtime)
SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/1102ggK2ZECoywxAh6HgNB-Rln3iFsqnjCEeF7hNjQyw/edit

# 3. Mã bí mật ký và xác thực mã QR HMAC-SHA256 xoay vòng 15 giây
QR_HMAC_SECRET=dev-secret-key-prm393-attendance

# 4. Cổng chạy Backend Dart Shelf API
PORT=8080

# 5. Google Identity Services (GIS) Client ID cho Sinh viên đăng nhập Google trên Web (M3)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
